// govuk_elements overrides

h1 {
  margin: 30px 0 40px;
}

.heading-small {
  padding-bottom: 15px;
  padding-top: 10px;
}

ol > li {
  padding-bottom: 10px;
}

.list {
  padding-left: 35px;
}

address {
  font-style: normal;
}
