{% load static %}

<div class="mtp-card-acceptance-signage__logo">
  <svg width="{{ width }}" height="{{ height }}" role="presentation" focusable="false">
    <image xlink:href="{% static 'images/card-acceptance-signage/visa.svg' %}" src="{% static 'images/card-acceptance-signage/visa@2x.png' %}" width="{{ width }}" height="{{ height }}" />
  </svg>
</div>
<div class="mtp-card-acceptance-signage__logo">
  <svg width="{{ width }}" height="{{ height }}" role="presentation" focusable="false">
    <image xlink:href="{% static 'images/card-acceptance-signage/mastercard.svg' %}" src="{% static 'images/card-acceptance-signage/mastercard@2x.png' %}" width="{{ width }}" height="{{ height }}" />
  </svg>
</div>
<div class="mtp-card-acceptance-signage__logo">
  <svg width="{{ width }}" height="{{ height }}" role="presentation" focusable="false">
    <image xlink:href="{% static 'images/card-acceptance-signage/maestro.svg' %}" src="{% static 'images/card-acceptance-signage/maestro@2x.png' %}" width="{{ width }}" height="{{ height }}" />
  </svg>
</div>
