# general
*.DS_Store
*.py?
*.pot
*~

# editors
.idea/
*.sublime-workspace
*.sublime-project

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# project
Dockerfile
docker-compose.yml
package.json
package-lock.json
webpack.config.js
mtp_send_money/assets/
mtp_send_money/settings/local.py
mtp_send_money/templates/govuk_template
static/
media/
venv/
spooler/
