{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}

  <p>
    {% trans 'Send your bank transfer using this prisoner reference:' %} <strong>{{ bank_transfer_reference }}</strong>
  </p>

  <ol>
    <li>
      <strong>{% trans 'Remember:' %}</strong>
      {% trans 'This is just the reference.' %}
      {% trans 'You have not sent any money yet.' %}
      {% trans 'You need to log into your online banking account, mobile banking app or use your telephone banking, as usual.' %}
    </li>

    <li>
      <p>{% trans 'Copy and paste these details into the transfer:' %}</p>
      <table style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
        <tbody>
          <tr>
            <th style="font-weight:normal;text-align:left">{% trans 'Account number:' %}</th>
            <td style="font-weight:bold">{{ account_number }}</td>
          </tr>
          <tr>
            <th style="font-weight:normal;text-align:left">{% trans 'Sort code:'%}</th>
            <td style="font-weight:bold">{{ sort_code }}</td>
          </tr>
          <tr>
            <th style="font-weight:normal;text-align:left">{% trans 'Reference:' %}</th>
            <td style="font-weight:bold">{{ bank_transfer_reference }}</td>
          </tr>
          <tr>
            <th style="font-weight:normal;text-align:left">{% trans 'Payee/Name:' %}</th>
            <td style="font-weight:bold">{{ bank_transfer_reference }}</td>
          </tr>
        </tbody>
      </table>
      <p>
        {% trans 'All prisons share this bank account.' %}
        {% trans 'Please use your prisoner reference to make sure the money goes to the right prisoner.' %}
      </p>
      <p>{% trans 'Remember, you can’t do a bank transfer in-branch and you must use a UK bank account.' %}</p>
    </li>

    <li>
      {% trans 'The money should take up to 3 working days to reach the prisoner’s account.' %}
      {% trans 'No money is processed at weekends or bank holidays.' %}
    </li>
  </ol>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> with problems using this service or how to contact us.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      Book a social visit with a prisoner online using the <a href="https://www.gov.uk/prison-visits">Visit someone in prison</a> service.
    {% endblocktrans %}
    {% trans 'It’s the faster and simpler way to plan to see friends and family in prisons in England or Wales.' %}
  </p>

  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>

{% endblock %}
