{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}

  <p>
    {% trans 'Your prisoner reference number is:' %} <strong>{{ bank_transfer_reference }}</strong>.
  </p>

  <p>
    <strong>{% trans 'Remember:' %}</strong>
    {% trans 'This is just the reference.' %}
    {% trans 'You have not sent any money yet.' %}
    {% trans 'You need to log into your online banking account, mobile banking app or use your telephone banking, as usual.' %}
  </p>

  <p>{% trans 'Copy and paste this reference into the ‘reference’ box on the bank transfer, and use these details:' %}</p>
  <ul>
    <li>{% trans 'Account number:' %} &nbsp; {{ account_number }}</li>
    <li>{% trans 'Sort code:'%} &nbsp; {{ sort_code }}</li>
  </ul>

  <p>
    <strong>{% trans 'Please note:' %}</strong>
    {% trans 'You can’t do a bank transfer in-branch and you must use a UK bank account.' %}
    {% trans 'Money should reach the prisoner’s account in 1 working day, but your bank can take up to 3 working days to process the payment.' %}
    {% trans 'No money is processed at weekends or bank holidays.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> on how to use the service or <a href="{{ feedback_url }}">contact us</a>.
    {% endblocktrans %}
  </p>
  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>

{% endblock %}
