{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% blocktrans trimmed with formatted_ref=short_payment_ref|upper %}
      Your payment has been successful. Your reference number is <strong>{{ formatted_ref }}</strong>.
    {% endblocktrans %}
  </p>

  <p>{% trans 'The money you sent will reach the prisoner’s account in 1 working day.' %}</p>

  <table cellspacing="10" style="font-family: sans-serif;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount paid' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Date payment made' %}</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
  </table>

  <p>
    {% trans 'Thank you for using this service.' %}
  </p>

  <p>
    {% trans 'Please let us know how you found it at https://send-money.moneytoprisoners.dsd.io/feedback/' %}
  </p>
{% endblock %}
