{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% trans 'Your payment has been successful.' %}
    {% blocktrans trimmed %}
      Your confirmation number is <strong>{{ short_payment_ref }}</strong>.
    {% endblocktrans %}
  </p>

  <p>
    {% trans 'Money should reach the prisoner’s account in up to 3 working days.' %}
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Date payment made:' %}</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
  </table>

  <p>
    {% trans 'Thank you for using this service.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> with problems using this service or how to contact us.
    {% endblocktrans %}
  </p>

  <p>
    <strong>
      {% trans 'Take part in research and receive a £20 gift voucher' %}
    </strong>
    {% blocktrans trimmed with link='https://www.surveymonkey.co.uk/r/VX8GPTR' %}
      We are carrying out research to understand how we can improve prison services. If you have booked either a video call or a face-to-face visit with a friend or family member in prison in the last 12 months, we’d like to hear from you. Please fill out our <a href="{{ link }}">quick screener survey here</a>, to see if you are eligible for one of our upcoming research studies.
    {% endblocktrans %}
  </p>

  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>
{% endblock %}
