{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% trans 'Your payment has been successful.' %}
    {% blocktrans trimmed %}
      Your reference number is <strong>{{ short_payment_ref }}</strong>.
    {% endblocktrans %}
  </p>

  <p>{% trans 'The money you sent will reach the prisoner’s account in 1 working day.' %}</p>

  <table cellspacing="10" style="font-family: sans-serif;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount paid' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Date payment made' %}</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
  </table>

  <p>
    {% trans 'Thank you for using this service.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> on how to use the service or <a href="{{ feedback_url }}">contact us</a>.
    {% endblocktrans %}
  </p>
  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>
{% endblock %}
