{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    <strong>{% trans 'This payment has NOT been sent to the prisoner.' %}</strong>
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Reference:' %}</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <p>
    {% trans 'We’re emailing to tell you this payment has not passed our compliance check.' %}
    <br />
    {% trans 'HMPPS is committed to maintaining prison safety and security and because this payment may compromise this, we have been unable to process it.' %}
  </p>

  <p>
    <strong>{% trans 'What now?' %}</strong>
  </p>

  <p>
    {% blocktrans trimmed %}
      Your debit card payment has <strong>not</strong> been taken from your account.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      If you need further assistance with this, <a href="{{ feedback_url }}">please email us</a>.
    {% endblocktrans %}
  </p>

  <p>
    {% trans 'Kind regards,' %}
  </p>
  <p>
    {% trans 'Prisoner money compliance team' %}
  </p>
{% endblock %}
