{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    <strong>{% trans 'This payment is being processed.' %}</strong>
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Reference:' %}</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <p>
    {% trans 'We’ll email you a payment update in a few days.' %}
  </p>
  <p>
    {% trans 'Please don’t contact us until you have it.' %}
  </p>

  <p>
    {% trans 'Kind regards,' %}
  </p>
  <p>
    {% trans 'Prisoner money compliance team' %}
  </p>
{% endblock %}
