{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% trans 'Your payment has been successful.' %}
    {% blocktrans trimmed %}
      Your confirmation number is <strong>{{ short_payment_ref }}</strong>.
    {% endblocktrans %}
  </p>

  <p>
    {% trans 'Money should reach the prisoner’s account in up to 3 working days.' %}
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Date payment made:' %}</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
  </table>

  <p>
    {% trans 'Thank you for using this service.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ help_url }}">Help</a> with problems using this service or how to contact us.
    {% endblocktrans %}
  </p>

  <p><a href="{{ site_url }}">{% trans 'Back to the service' %}</a></p>
{% endblock %}
