{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    {% blocktrans trimmed %}
      We’re sorry to tell you that the <strong>payment session expired</strong> before your payment could be taken.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      This payment has <strong>not</strong> gone through to the prisoner’s account.
    {% endblocktrans %}
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Reference:' %}</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <p>
    <strong>{% trans 'What now?' %}</strong>
  </p>

  <p>
    {% blocktrans trimmed %}
      Please go to <a href="{{ site_url }}">Send money to someone in prison</a> and try again.
    {% endblocktrans %}
  </p>

  <p>
    {% trans 'We’re sorry for any inconvenience this may have caused but we’re keen to keep the service running smoothly.' %}
  </p>

  <p>
    {% blocktrans trimmed %}
      <a href="{{ feedback_url }}">Contact us</a> if this is a recurring problem for you or if you need further more help.
    {% endblocktrans %}
  </p>

  <p>
    {% trans 'Kind regards,' %}
  </p>
  <p>
    {% trans 'Prisoner money team' %}<br />
  </p>
{% endblock %}
