{% extends 'mtp_common/email_base.html' %}
{% load i18n %}
{% load send_money %}

{% block content %}
  <p>{% trans 'Dear sender,' %}</p>

  <p>
    <strong>{% trans 'This payment has now gone through.' %}</strong>
  </p>

  <table cellspacing="10" style="font-family: sans-serif; border-left: 10px solid #b1b4b6; padding-left: 15px;">
    <tr>
      <th valign="top" align="left">{% trans 'Payment to:' %}</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Amount:' %}</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Confirmation number:' %}</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <p>
    {% trans 'We’re emailing to let you know that this payment has now been processed and will reach the prisoner’s account in one working day.' %}
  </p>
  <p>
    {% trans 'Thank you for your patience.' %}
  </p>

  <p>
    {% trans 'Kind regards,' %}
  </p>
  <p>
    {% trans 'Prisoner money team' %}
  </p>
{% endblock %}
