// app-specific styles

.form-date {
  p {
    margin-bottom: 0;
  }

  input {
    min-width: 3em;
  }
}

.form-date-day,
.form-date-month,
.form-date-year {
  display: inline-block;
  margin-right: 1em;
}

.form-date-day input, .form-date-month input {
  width: 3em;
}

.form-date-year input {
  width: 5em;
}
