// govuk_elements overrides

h1 {
  margin: 30px 0 40px;
}

.govuk-heading-s {
  // TODO: needed?
  padding-bottom: 15px;
  padding-top: 10px;
}

ol > li {
  padding-bottom: 10px;
}

.list {
  padding-left: 35px;
}
