@import 'mtp';

// Application elements
@import 'elements/card-acceptance-signage';
@import 'elements/cookie-prompt';
@import 'elements/banners';
@import 'elements/typography';
@import 'elements/notifications';

// View-specific styles
@import 'views/user-agreement';
@import 'views/payment-method';
@import 'views/check-details';
@import 'views/references';
@import 'views/send-money';
@import 'views/help-pages';
@import 'views/filtered-list';

// Govuk elements overrides

.govuk-box-highlight {
  padding: 2em;

  p, strong {
    @include core-36;
  }

  p {
    margin-bottom: 2px;
  }

  strong {
    font-weight: 700;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.6em;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.mtp-box-highlight-info {
    background: $govuk-blue;
  }

  &.mtp-box-highlight-success {
    background: $green;
  }

  @media print {
    background: none;
    border: 2px solid $border-colour;
    color: $text-colour;
  }
}
