{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Before you continue' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">{% trans 'Get a prisoner reference to use in a UK bank transfer' %}</span>
      {% trans 'Before you continue' %}
    </h1>
  </header>

  <div class="mtp-bank-transfer-warning">
    <strong>{% trans 'You can:' %}</strong>
    <ul class="list list-bullet">
      <li>{% trans 'make a bank transfer using online banking, your mobile banking app or telephone banking from a UK bank account' %}</li>
    </ul>
    <strong>{% trans 'You can’t:' %}</strong>
     <ul class="list list-bullet">
      <li>{% trans 'go into a bank branch to transfer money' %}</li>
      <li>{% trans 'transfer money from an international bank account' %}</li>
      <li>{% trans 'make a payment by CHAPS' %}</li>
    </ul>
  </div>

  <p>
    <a id="id_next_btn" class="button" href="{{ view.get_success_url }}">{% trans 'I understand' %}</a>
  </p>
{% endblock %}
