{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Enter prisoner details' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">{% trans 'Get a prisoner reference to use in a UK bank transfer' %}</span>
      {% trans 'Enter prisoner details' %}
    </h1>
  </header>

  <p class="mtp-bank-transfer-instructions">
    {% trans 'To make a bank transfer online, you need a prisoner reference number.' %}
    {% trans 'To get this, provide these details:' %}
  </p>

  <form method="post" action=".">
    {% csrf_token %}

    {% include 'send_money/prisoner-details-error-summary.html' with form=form only %}

    <fieldset>
      <legend class="visually-hidden">{% trans 'Prisoner details' %}</legend>
      {% include 'send_money/includes/prisoner-details-dob.html' with field=form.prisoner_dob only %}
      {% include 'send_money/includes/prisoner-details-number.html' with field=form.prisoner_number only %}
    </fieldset>
    <p>
      <input id="id_next_btn" class="button" type="submit" value="{% trans 'Get reference' %}">
    </p>
  </form>
{% endblock %}
