{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}
{% load static %}

{% block inner_content %}

  <div class="govuk-box-highlight">
    <h1 class="heading-large">{% trans 'Your prisoner reference' %}</h1>
    <h2 class="heading-medium">{{ bank_transfer_reference }}</h2>
    <p>{% trans 'Use this reference to now make your bank transfer' %}</p>
  </div>

  <div class="mtp-print print-hidden">
      <a class="mtp-print-reference" href="#">{% trans 'Print this page' %}</a> &nbsp;
      <a class="mtp-email-reference" href="#">{% trans 'Email me this page' %}</a>
  </div>

  <section class="mtp-steps">
    <h2 class="heading-medium">{% trans 'Now you can make the bank transfer' %}</h2>
    <p>{% trans 'Log into your online banking account, mobile banking app, or use your telephone banking, as normal.' %}</p>
    <p>{% trans 'Put these details into the transfer:' %}</p>
    <div class="mtp-account panel panel-border-wide">
      <ul>
        <li>{% trans 'Account number:' %} {{ account_number }}</li>
        <li>{% trans 'Sort code:'%} {{ sort_code }}</li>
        <li>{% trans 'Reference:' %} {{ bank_transfer_reference }}</li>
      </ul>
    </div>
    <p>{% trans 'Copy and paste all these details into the bank transfer, if it’s easier.' %}</p>
    <p>{% trans 'Remember, you can’t do a bank transfer in-branch and you must use a UK bank account.' %}</p>
    <p>
      {% trans 'Money should reach the prisoner’s account in 1 working day, but your bank can take up to 3 working days to process the payment.' %}
      {% trans 'No money is processed at weekends or bank holidays.' %}
    </p>

    <p>
      <a href="{% url 'send_money:help' %}">{% trans 'Help ' %}</a>{% trans 'on how to use the service or ' %}<a href="{% url 'send_money:help' %}">{% trans 'contact us.' %}</a>
    </p>
  </section>

{% endblock %}
