{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Get a prisoner reference to make your UK bank transfer' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div class="mtp-notification mtp-notification--warning">
    <h1 class="mtp-notification__headline">
      {% trans 'Service change from November 2nd' %}
    </h1>
    <div class="mtp-notification__message" style="display:block">
      <p>
        {% trans 'From November 2nd, you will no longer be able to send money by bank transfer.' %}
        {% trans 'You will not be able to send in cash, cheques or postal orders by post either.' %}
      </p>
      <p>
        {% trans 'This will mean the best way to send money to someone in prison will be by debit card.' %}
      </p>
      <p>
        {% trans 'This change is to keep everyone who lives and works in prisons safe.' %}
        {% url 'help_area:help-cannot-access' as link %}
        {% blocktrans trimmed %}
          If it means you can no longer use this service, there are <a href="{{ link }}">alternatives</a>.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header>
        <h1 class="heading-xlarge">
          {% trans 'Get a prisoner reference to make your UK bank transfer' %}
        </h1>
      </header>

      <p>
        {% trans 'You’ll get a prisoner reference so you can make a bank transfer using:' %}
      </p>
      <ul class="list list-bullet">
        <li>
          {% trans 'online banking' %}
        </li>
        <li>
          {% trans 'mobile banking app' %}
        </li>
        <li>
          {% trans 'telephone banking' %}
        </li>
      </ul>
      <p>
        {% trans 'You can re-use this reference for this prisoner each time you make a transfer.' %}
        {% trans 'The money should take around 3 days to reach the prisoner’s account.' %}
        {% trans 'You won’t get email confirmation after your bank transfer.' %}
      </p>

      <strong>
        {% trans 'You can’t' %}
      </strong>
      <ul class="list list-bullet">
        <li>
          {% trans 'go into a bank branch to transfer money' %}
        </li>
        <li>
          {% trans 'transfer money from a bank account outside the UK' %}
        </li>
        <li>
          {% trans 'make a payment by CHAPS' %}
        </li>
      </ul>

      <aside class="panel panel-border-wide">
        {% url 'send_money:choose_method' as choose_method_url %}
        {% blocktrans trimmed with action=_('Paying by debit card')|wraplink:choose_method_url %}
          {{ action }} is the <strong>fastest</strong>, <strong>simplest</strong> and most <strong>reliable</strong> way of sending money to a prisoner – and it’s <strong>free</strong>
        {% endblocktrans %}
      </aside>

      <br />
      <p>
        <a id="id_next_btn" class="button" href="{{ view.get_success_url }}">{% trans 'Continue' %}</a>
      </p>

    </div>
  </div>
{% endblock %}
