{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}

{% block content %}
<div class="mtp-bank-transfer">

  <h1>{% trans 'Send money to a prisoner' %}</h1>
  <p>
    {% blocktrans trimmed %}
    How to send money to a prisoner by making a bank transfer using online, mobile or telephone banking.
    {% endblocktrans %}
  </p>

  <section>
    <h2>{% trans '1. Log in to your online banking or mobile banking app, or telephone your bank' %}</h2>
  </section>

  <section>
    <h2>{% trans '2. Use the following bank details' %}</h2>

    <dl class="mtp-bank-details">
      <dt>{% trans 'The prison service account number' %}</dt>
      <dd>
        <samp>{{ account_number }}</samp>
      </dd>
      <dt>{% trans 'The prison service sort code' %}</dt>
      <dd>
        <samp>{{ sort_code }}</samp>
      </dd>
      <dt>{% trans 'Use your personal bank transfer reference' %}</dt>
      <dd>
        <samp>{{ bank_transfer_reference }}</samp>
      </dd>
    </dl>
    <div class="mtp-bank-transfer-boxed">
      {% blocktrans trimmed %}
      <p>Please note that:</p>
      <ul>
        <li>If you’re asked for a ‘payee’, use the prisoner’s name as this is only for your own records and does not affect payment</li>
        <li>If you use the wrong reference, your money will be automatically refunded but if you try to make a payment in branch we’re unable to refund your money and you’ll have to follow it up yourself</li>
        <li>All public prisons in England and Wales use the same NatWest account to receive money sent to prisoners</li>
      </ul>
      {% endblocktrans %}
    </div>
  </section>
  <section>
    {% blocktrans %}
    <h2>3. The money is paid into the prisoner’s account</h2>
    <p>The money should arrive in the prisoner’s account in 1 working day. However, your bank may take longer to process payment (up to 3 working days).</p>
    <p>No money is processed at weekends.</p>
    <p>If you have any questions about how to make a payment, contact your bank or building society.</p>
    <p>Remember, you can only use this service to send money to prisoners in HMP Bullingdon, HMP Brixton or HMP High Down.</p>
    <p>You can’t make a money transfer in person from a bank.</p>
    {% endblocktrans %}
  </section>
</div>
{% endblock %}
