{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}
{% load static %}


{% block inner_content %}

<div class="mtp-bank-transfer">
  <div class="govuk-box-highlight">
    <h1 class="heading-large">{% trans 'Your prisoner reference' %}</h1>
    <p>{% trans 'Keep this for future transfers to this prisoner' %}</p>
    <strong>{{ bank_transfer_reference }}</strong>
  </div>

  <div class="mtp-print">
    <a class="mtp-print-reference" href="#">{% trans 'Print this page' %}</a>
  </div>

  <section class="mtp-steps">
    <h2 class="heading-medium">{% trans 'How to use this reference to make your bank transfer' %}</h2>
    <ol class="list list-number">
      <li>{% trans 'Log into your online banking or mobile app, or phone your bank. Remember, you can’t go in branch and you must use a UK bank account.' %}</li>
      <li>{% trans 'Use these details:' %}
        <div class="mtp-account panel panel-border-wide">
          <ul>
            <li>{% trans 'Account number:' %} {{ account_number }}</li>
            <li>{% trans 'Sort code:'%} {{ sort_code }}</li>
            <li>{% trans 'Your prisoner reference:' %} {{ bank_transfer_reference }}</li>
          </ul>
        </div>
        <p>{% trans 'Under ‘payee’ enter the prisoner’s name, if required.' %}</p>
      </li>
      <li>{% trans 'Money should reach the prisoner’s account in 1 working day, but your bank can take up to 3 working days to process the payment. No money is processed at weekends or bank holidays.' %}</li>
    </ol>

    <strong>{% trans 'Print this page for next time you make a payment to this prisoner.' %}</strong>

    <p>To find out more about refunds visit: <a href="{% url 'send_money:help' %}">{% trans 'Help sending money to a prisoner' %}</a></p>
  </section>

</div>
{% endblock %}
