{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Get a prisoner reference to make your UK bank transfer' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          {% trans 'Get a prisoner reference to make your UK bank transfer' %}
        </h1>
      </header>

      <p>
        {% trans 'You’ll get a prisoner reference so you can make a bank transfer using:' %}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% trans 'online banking' %}
        </li>
        <li>
          {% trans 'mobile banking app' %}
        </li>
        <li>
          {% trans 'telephone banking' %}
        </li>
      </ul>
      <p>
        {% trans 'You can re-use this reference for this prisoner each time you make a transfer.' %}
        {% trans 'The money should take around 3 days to reach the prisoner’s account.' %}
        {% trans 'You won’t get email confirmation after your bank transfer.' %}
      </p>

      <h2 class="govuk-heading-s">
        {% trans 'You can’t' %}
        <span class="govuk-visually-hidden">
          {% trans 'do the following things' %}
        </span>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% trans 'go into a bank branch to transfer money' %}
        </li>
        <li>
          {% trans 'transfer money from a bank account outside the UK' %}
        </li>
        <li>
          {% trans 'make a payment by CHAPS' %}
        </li>
      </ul>

      <aside class="govuk-inset-text">
        {% url 'send_money:choose_method' as choose_method_url %}
        {% blocktrans trimmed with action=_('Paying by debit card')|wraplink:choose_method_url %}
          {{ action }} is the <strong>fastest</strong>, <strong>simplest</strong> and most <strong>reliable</strong> way of sending money to a prisoner – and it’s <strong>free</strong>
        {% endblocktrans %}
      </aside>

      <br />
      <p>
        <a id="id_next_btn" class="govuk-button" href="{{ view.get_success_url }}">{% trans 'Continue' %}</a>
      </p>

    </div>
  </div>
{% endblock %}
