{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Check details - Send money to a prisoner - GOV.UK' %}{% endblock %}

{% block inner_content %}
  <h1 class="heading-xlarge">{% trans 'Check details' %}</h1>

  <form class="mtp-confirm" method="post" action=".">
    {% csrf_token %}
    <p>{% trans 'Check and change any details that are incorrect.' %}</p>

    <div class="mtp-checkgroup">
      <div class="mtp-confirm-fieldset">
        <h2 class="heading-large">{% trans 'Prisoner details' %}</h2>

        {% trans 'Name' %}: {{ form.prisoner_name.value }}<br>
        {% trans 'Date of birth' %}: {{ form.prisoner_dob.value|prepare_prisoner_dob|date:'d/m/Y' }}<br>
        {% trans 'Prisoner number' %}: {{ form.prisoner_number.value }}
      </div>
      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:send_money' %}?change&amp;focus=id_prisoner_name">{% trans 'Change this' %}</a>
      </div>
    </div>

    <div class="mtp-checkgroup">
      <div class="mtp-confirm-fieldset">
        <h2 class="heading-large">{% trans 'Money you are sending' %}</h2>

        {% if service_charged %}
          {% trans 'Total to prisoner' %}: {{ form.amount.value|currency_format }}<br>
        {% endif %}
        {% trans 'Total to be taken from your account' %}: {{ form.amount.value|add_service_charge|currency_format }}<br>
        <!-- {{ form.payment_method.label }}: {{ form.payment_method.value|payment_method_description }} -->
      </div>
      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:send_money' %}?change&amp;focus=id_amount">{% trans 'Change this' %}</a>
      </div>
    </div>

    {# hidden form to re-check prisoner location #}
    {{ form }}

    <div>
      <div class="mtp-confirm-fieldset">
        <input id="id_next_btn" class="button" type="submit" name="next" value="{% trans 'Make payment' %}">
      </div>
      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:clear_session' %}">{% trans 'Cancel and delete all details' %}</a>
      </div>
    </div>
  </form>
{% endblock %}
