{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Check details - Send money to a prisoner - GOV.UK' %}{% endblock %}

{% block inner_content %}
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{% trans 'Pay now by debit card' %}</span>
    {% trans 'Check details' %}
  </h1>

  <form class="mtp-confirm" method="post" action=".">
    {% csrf_token %}

    <div class="mtp-checkgroup">
      <div class="mtp-confirm-fieldset">
        <h2 class="heading-large">{% trans 'Prisoner details' %}</h2>
        <table class="mtp-table">
          <tr>
            <td>{% trans 'Name' %}:</td>
            <td>{{ form.prisoner_name.value }}</td>
          </tr>
          <tr>
            <td>{% trans 'Date of birth' %}:</td>
            <td>{{ form.prisoner_dob.value|prepare_prisoner_dob|date:'d/m/Y' }}</td>
          </tr>
          <tr>
            <td>{% trans 'Prisoner number' %}:</td>
            <td>{{ form.prisoner_number.value }}</td>
          </tr>
        </table>
      </div>

      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:prisoner_details_debit' %}?change=1&amp;focus=id_prisoner_name">{% trans 'Change' %}</a><br>
      </div>
    </div>

    <div class="mtp-checkgroup">
      <div class="mtp-confirm-fieldset">
        <h2 class="heading-large">{% trans 'Amount' %}</h2>
        <table class="mtp-table">
          <tr>
            <td>{% trans 'Total' %}:</td>
            <td>{% if service_charged %}
              {{ form.amount.value|currency_format }}<br>
              {% endif %}
              {{ form.amount.value|add_service_charge|currency_format }}<br>
            </td>
          </tr>
        </table>
      </div>
      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:send_money_debit' %}?change=1&amp;focus=id_amount">{% trans 'Change' %}</a>
      </div>
    </div>

    {# hidden form to re-check prisoner location #}
    {{ form }}

    <div>
      <div class="mtp-confirm-change">
        <input id="id_next_btn" class="button" type="submit" name="next" value="{% trans 'Next: Enter card details' %}">
      </div>
      <div class="mtp-confirm-change">
        <a href="{% url 'send_money:clear_session' %}">{% trans 'Cancel and delete all details' %}</a>
      </div>
    </div>
  </form>
{% endblock %}
