{% load i18n %}
{% load send_money %}

<li>
  <a id="id_debit_card" class="payment-method-link" href="{% url 'send_money:send_money_debit' %}">
    <span>{% trans 'Use your debit card' %}</span>
    <div>{% trans 'You will receive confirmation of payment.' %}</div>
    {% if service_charged %}
      <div>{% blocktrans trimmed with charge_percentage=service_charge_percentage|format_percentage charge_fixed=service_charge_fixed|currency_format_pence %}Your bank charges a {{ charge_percentage }} fee (plus {{ charge_fixed }}) for each transaction.{% endblocktrans %}</div>
    {% endif %}
  </a>
</li>
