{% load i18n %}

<li>
  <a id="id_bank_transfer" href="{% url 'send_money:prisoner_details_bank' %}" class="large-link-list--link" {% if experiment.bank_transfer_conversion %}data-analytics="{{ experiment.bank_transfer_conversion }}"{% endif %}>
    {% trans 'Use online, mobile or telephone banking' %}
    <span>{% trans 'You won’t receive confirmation of payment.' %}</span>
    <span>{% trans 'You can generate a payment reference to use each time you make a bank transfer to this prisoner.' %}</span>
  </a>
</li>
