{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Send money to prisoners' %}</h1>

  {% if success %}
  <div class="box-highlight">
    <h2 class="bold-large">{% trans '✓ Payment was successful' %}</h2>
    <p>{% trans 'Your reference number is' %} <strong>{{ payment_ref|upper }}</strong></p>
  </div>
  <div>
    <h2>{% trans 'What happens next?' %}</h2>

    <p>{% trans 'The money will arrive in the prisoner’s account in 3 working days.' %} </p>


    <div>
      <h3>{% trans 'Payment summary' %}</h3>

      <ul>
        <li>{% trans 'Payment to:' %} {{ prisoner_name }}</li>
        <li>{% trans 'Payment amount:' %} {{ amount }}</li>
        <li>{% trans 'Date payment made:' %} {{ payment_created|date:'d/m/Y' }}</li>
      </ul>
    </div>
  </div>

  <p><a href="{% url 'send_money:send_money' %}" class="button" role="button">{% trans "Back to start" %}</a></p>

  <p><a href="javascript:window.print()">{% trans 'Print this page' %}</a></p>

  {% else %}
  <p>{% trans 'FAILURE' %}</p>
  {% endif %}
{% endblock %}
