{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Contact us' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  {% if return_to %}
    <a class="link-back" href="{{ return_to }}">{% trans 'Back' %}</a>
  {% endif %}

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% trans 'Help' %}
      </span>
      {% trans 'Contact us' %}
    </h1>
  </header>

  <div class="grid-row mtp-contact-columns">
    <div class="column-two-thirds">
      <form action="." method="post" id="send-feedback">
        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <fieldset>
          <legend class="visually-hidden">{% trans 'Your message' %}</legend>

          {% with field=form.ticket_content value=request.GET.message|default:'' %}
            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              {% include 'mtp_common/forms/field-label.html' with field=field only %}
              {% include 'mtp_common/forms/field-errors.html' with field=field only %}
              <textarea class="form-control {% if field.errors %}form-control-error{% endif %}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" cols="40" rows="10">{{ field.value|default:value }}</textarea>
            </div>
          {% endwith %}

          <h2 class="heading-medium">{% trans 'If you’re having difficulties using the service, please send:' %}</h2>
          {% include 'mtp_common/forms/field.html' with field=form.prisoner_number only %}
          {% include 'mtp_common/forms/field.html' with field=form.prisoner_dob only %}

          {% include 'mtp_common/forms/field.html' with field=form.contact_email value=request.GET.email|default:'' only %}

          <div class="form-group">
            {% csrf_token %}
            {{ form.referer }}
            <button type="submit" class="button" name="submit-feedback">{% trans 'Send' %}</button>
          </div>
        </fieldset>
      </form>
    </div>

    <aside class="column-one-third">
      <h2 class="heading-medium">
        {% trans 'Find help if you’ve already sent money but the:' %}
      </h2>
      <p>
        {% trans 'Find help if you’ve already sent money but the:' %}
      </p>
      <ul class="list list-bullet">
        <li>
          <a href="{% url 'send_money:help_bank_transfer' %}">
            {% trans 'Bank transfer was returned' %}
          </a>
        </li>
        <li>
          <a href="{% url 'send_money:help_delays' %}">
            {% trans 'Payment has taken longer than expected' %}
          </a>
        </li>
        <li>
          <a href="{% url 'send_money:help_transfered' %}">
            {% trans 'Prisoner has been moved or released' %}
          </a>
        </li>
      </ul>
    </aside>
  </div>

{% endblock %}
