{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block inner_content %}
  {% if return_to %}
    <a class="link-back" href="{{ return_to }}">{% trans 'Back' %}</a>
  {% endif %}

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">{% trans 'Contact us' %}</h1>
  </header>

  <form action="." method="post" id="send-feedback">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {{ form.referer }}

    <fieldset>
      <legend class="visually-hidden">{% trans 'Your message' %}</legend>

      {% with field=form.ticket_content value=request.GET.message|default:'' %}
        <div class="form-group {% if field.errors %}error{% endif %}">
          {% include 'mtp_common/forms/field-label.html' with field=field only %}
          {% include 'mtp_common/forms/field-errors.html' with field=field only %}
          <textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" cols="40" rows="10">{{ field.value|default:value }}</textarea>
          <p>
            {% trans 'Please don’t include your bank details or any other personal information.' %}
          </p>
        </div>
      {% endwith %}

      <h2 class="heading-medium">{% trans 'If you had difficulties using the service, please enter the prisoner’s details:' %}</h2>
      {% include 'mtp_common/forms/field.html' with field=form.prisoner_number only %}
      {% include 'mtp_common/forms/field.html' with field=form.prisoner_dob only %}

      <h2 class="heading-medium">{% trans 'Enter your email address if you’d like a reply. We won’t use it for anything else.' %}</h2>
      {% include 'mtp_common/forms/field.html' with field=form.contact_email value=request.GET.email|default:'' only %}

      <div class="form-group">
        <button type="submit" class="button" name="submit-feedback">{% trans 'Send' %}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
