{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Enter prisoner details' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">{% trans 'Pay now by debit card' %}</span>
          {% trans 'Enter prisoner details' %}
        </h1>
      </header>

      <form method="post" action=".{% if request.GET.change %}?change=1{% endif %}">
        {% csrf_token %}

        {% include 'send_money/prisoner-details-error-summary.html' with form=form only %}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">{% trans 'Prisoner details' %}</legend>
          {% include 'mtp_common/forms/field.html' with field=form.prisoner_name input_classes='govuk-input--width-20' only %}
          {% include 'mtp_common/forms/date-field.html' with field=form.prisoner_dob only %}
          {% include 'mtp_common/forms/field.html' with field=form.prisoner_number input_classes='govuk-input--width-10 mtp-input--prisoner-number' only %}
        </fieldset>

        <p>
          <input id="id_next_btn" class="govuk-button" type="submit" value="{% trans 'Enter amount' %}">
        </p>
      </form>

    </div>
  </div>
{% endblock %}
