{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}

  <div class="govuk-box-highlight">
    <h1 class="heading-large">{% trans 'Payment successful' %}</h1>
    <p>{% trans 'Your confirmation number is' %}<p>
    <strong>{{ short_payment_ref }}</strong>
  </div>

  <div class="print-hidden mtp-reference-actions">
    <a class="mtp-print-reference" href="#">{% trans 'Print this page' %}</a>
  </div>

  <h2 class="heading-medium">{% trans 'Payment summary' %}</h2>
  <table class="mtp-table">
    <tr>
      <th>{% trans 'Payment to' %}:</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th>{% trans 'Payment amount' %}:</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th>{% trans 'Date payment made' %}:</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
    <tr>
      <th>{% trans 'Confirmation number' %}:</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <h2 class="heading-medium">{% trans 'What happens next' %}</h2>

  <ol class="list list-number">
    <li>{% trans 'We’ll email you a copy of this confirmation page.' %}</li>
    <li>{% trans 'The money will arrive in the prisoner’s account in up to 3 working days.' %}</li>
    {% if nomis_integration_available %}
    <li>{% trans 'You’ll get a further email when the prisoner’s account has been credited to confirm your money has arrived.' %}</li>
    {% endif %}
  </ol>

  <p>
    <a href="https://www.gov.uk/done/send-prisoner-money">{% trans 'Take a moment to rate this service' %}</a>
  </p>
{% endblock %}
