{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}

{% block inner_content %}

  <div class="govuk-box-highlight">
    <h1 class="heading-large">{% trans 'Payment successful' %}</h1>
    <p>{% trans 'Your payment reference is' %}<p>
    <strong>{{ short_payment_ref }}</strong>
  </div>

  <div class="mtp-print print-hidden">
    <a class="mtp-print-reference" href="#">{% trans 'Print this page' %}</a>
  </div>

  <h2 class="heading-medium">{% trans 'Payment summary' %}</h2>
  <table class="mtp-table">
    <tr>
      <th>{% trans 'Payment to' %}:</th>
      <td>{{ prisoner_name }}</td>
    </tr>
    <tr>
      <th>{% trans 'Payment amount' %}:</th>
      <td>{{ amount|currency_format }}</td>
    </tr>
    <tr>
      <th>{% trans 'Date payment made' %}:</th>
      <td>{% now 'd/m/Y' %}</td>
    </tr>
    <tr>
      <th>{% trans 'Payment reference' %}:</th>
      <td>{{ short_payment_ref }}</td>
    </tr>
  </table>

  <h2 class="heading-medium">{% trans 'What happens next' %}</h2>

  <ol class="list list-number">
    {% if email_sent %}
      <li>{% trans 'You’ll get email confirmation of payment' %}</li>
    {% endif %}
    <li>{% trans 'The money will arrive in the prisoner’s account the next working day.' %}</li>
  </ol>

  <p>
    <a href="https://www.gov.uk/done/send-prisoner-money">{% trans 'Take a moment to rate this service' %}</a>
  </p>
{% endblock %}
