{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Send money with a card payment' %}</h1>

  <p>This page would redirect to GOV.UK Pay</p>
  <p>
    A successful payment would take you to
    <a href="{% url 'send_money:confirmation' %}" class="button">Confirmation page</a>
  </p>
  <p>
    Clicking back/cancel would take you to
    <a href="{% url 'send_money:send_money' %}" class="button">Start page</a>
  </p>

  <!-- {{ request.resolver_match.url_name }} -->
{% endblock %}
