{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}

{% block page_title %}{% trans 'Payment successful' %} – {{ block.super }}{% endblock %}

{% block content %}

  <div class="govuk-box-highlight mtp-box-highlight-success">
    <h1 class="govuk-heading-xl">{% trans 'Payment successful' %}</h1>
    <p>{% trans 'Your confirmation number is' %}<p>
    <strong>{{ short_payment_ref }}</strong>
  </div>

  <div class="print-hidden mtp-reference-actions">
    <a class="mtp-print-reference" href="#">{% trans 'Print this page' %}</a>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="mtp-account govuk-inset-text">
        <table>
          <tbody>
            <tr>
              <th>{% trans 'Payment to' %}:</th>
              <td>{{ prisoner_name }}</td>
            </tr>
            <tr>
              <th>{% trans 'Amount' %}:</th>
              <td>{{ amount|currency_format }}</td>
            </tr>
            <tr>
              <th>{% trans 'Date payment made' %}:</th>
              <td>{% now 'd/m/Y' %}</td>
            </tr>
            <tr>
              <th>{% trans 'Confirmation number' %}:</th>
              <td>{{ short_payment_ref }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="govuk-heading-m">{% trans 'What happens next' %}</h2>
      <ol class="govuk-list govuk-list--number">
        <li>
          {% trans 'We’ll email you a copy of this confirmation page.' %}
          {% trans 'Please check your spam folder.' %}
        </li>
        <li>{% trans 'Money usually takes less than 3 working days to reach a prisoner’s account, but may take longer.' %}</li>
        <li>{% trans 'You’ll get a further email when the prisoner’s account has been credited to confirm your money has arrived.' %}</li>
      </ol>

      <p>
        <a href="https://www.gov.uk/done/send-prisoner-money">{% trans 'Take a moment to rate this service' %}</a> {% trans '(takes 30 seconds)' %}
      </p>
    </div>
  </div>
{% endblock %}
