{% extends 'base.html' %}
{% load i18n %}
{% load send_money %}

{% block page_title %}{% trans 'Payment on hold' %} – {{ block.super }}{% endblock %}

{% block content %}

  <div class="govuk-panel mtp-panel--pending">
    <h1 class="govuk-panel__title">
      {% trans 'This payment has been put on hold for up to 5 days' %}
    </h1>
    <div class="govuk-panel__body">
      {% trans 'Your reference is' %}
      <br />
      <strong>{{ short_payment_ref }}</strong>
    </div>
  </div>

  <p class="mtp-reference-actions govuk-!-margin-bottom-6">
    <a class="mtp-reference-actions__print govuk-link--no-visited-state" href="#">{% trans 'Print this page' %}</a>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-inset-text">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">
            {% trans 'Details of the payment you want to make' %}
          </caption>
          <tbody>
            <tr>
              <th scope="row">{% trans 'Payment to' %}</th>
              <td>{{ prisoner_name }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Amount' %}</th>
              <td>{{ amount|currency_format }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Date' %}</th>
              <td>{% now 'd/m/Y' %}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Reference' %}</th>
              <td>{{ short_payment_ref }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>{% trans 'To maintain a high level of prison safety we do regular security checks.' %}</p>
      <p>{% trans 'We’ll email you a payment update as soon as we can and are sorry for any inconvenience this may cause.' %}</p>
      <p>
        {% url 'submit_ticket' as ticket_url %}
        {% blocktrans trimmed %}
          If you’re worried about a prisoner, <a href="{{ ticket_url }}">contact us</a> and we can inform the prison.
        {% endblocktrans %}
      </p>

    </div>
  </div>
{% endblock %}
