{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Enter prisoner details' %} – {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{% trans 'Pay now by debit card' %}</span>
      {% trans 'Enter prisoner details' %}
    </h1>
  </header>

  <form method="post" action=".{% if request.GET.change %}?change=1{% endif %}">
    {% csrf_token %}

    {% include 'send_money/prisoner-details-error-summary.html' with form=form only %}

    <fieldset>
      <legend class="visually-hidden">{% trans 'Prisoner details' %}</legend>
      {% include 'mtp_common/forms/field.html' with field=form.prisoner_name only %}
      {% include 'send_money/includes/prisoner-details-dob.html' with field=form.prisoner_dob only %}
      {% include 'send_money/includes/prisoner-details-number.html' with field=form.prisoner_number only %}
    </fieldset>

    <p>
      <input id="id_next_btn" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" type="submit" value="{% trans 'Enter amount' %}">
    </p>
  </form>
{% endblock %}
