{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans 'Choose payment method - Send money to a prisoner - GOV.UK' %}{% endblock %}

{% block inner_content %}
  <h1 class="heading-xlarge">{% trans 'How do you want to send money?' %}</h1>

  <form method="post" class="js-experiment-context" {% if experiment.context %}data-experiment-context="{{ experiment.context }}"{% endif %}>
    {% csrf_token %}
    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {%if form.payment_method.field.disabled %}
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

        <h1 class="heading-medium error-summary-heading">
          {% trans 'Due to a technical issue, pay by debit card is temporarily unavailable.' %}
        </h1>
        <p>{% trans 'Please send money using a bank transfer or come back later.' %}</p>

      </div>
    {% endif %}

    <fieldset>
      <legend class="visuallyhidden">{% trans 'How do you want to send money?' %}</legend>

      {% for payment_method in form.payment_method.field.choices %}
        <label class="block-label" for="id_{{ payment_method.0 }}">
          <input id="id_{{ payment_method.0 }}" type="radio" name="{{ form.payment_method.html_name }}" value="{{ payment_method.0 }}" {% if form.payment_method.value == payment_method.0 %}checked{% endif %} {%if form.payment_method.field.disabled %}disabled{% endif %}>
          {{ payment_method.1 }}
        </label>

        {% if not forloop.last %}
          <p class="form-block">{% trans 'or' %}</p>
        {% endif %}
      {% endfor %}
    </fieldset>

    <div class="help-box help-box-collapsed">
      <div class="help-box-title" aria-controls="help-box-contents" aria-expanded="false" role="heading">
        <div></div><a href="#">{% trans 'Which is right for me?' %}</a>
      </div>
      <div class="panel panel-border-narrow help-box-contents" id="help-box-contents">
        <h2 class="heading-small mtp-debit-header">
          {% if ENVIRONMENT == 'test' %}
            {% trans 'Pay now by debit card' %}
          {% else %}
            {% trans 'Pay now by debit card (currently HMP Bullingdon and HMP Cardiff only)' %}
          {% endif %}
        </h2>

        {%if form.payment_method.field.disabled %}
          <h2 class="heading-small mtp-debit-unavailable">{% trans 'Temporarily unavailable due to a technical issue' %}</h2>
        {% endif %}
        
        <ol class="list list-number">
          <li>{% trans 'You can complete your payment here' %}</li>
          <li>{% trans 'Money takes 1 working day to reach the prisoner' %}</li>
          <li>{% trans 'You’ll get email confirmation of payment' %}</li>
        </ol>
        <h2 class="heading-small">{% trans 'Get a prisoner reference to use in a UK bank transfer' %}</h2>
        <ol class="list list-number">
          <li>{% trans 'You’ll get a reference you can use to make a transfer from a UK bank' %}</li>
          <li>{% trans 'This must be done online, using an app or over the phone – you can’t go in branch' %}</li>
          <li>{% trans 'Money takes 1-3 working days to reach the prisoner' %}</li>
          <li>{% trans 'You won’t receive email confirmation of payment' %}</li>
        </ol>
      </div>
    </div>

    <p>
      <input id="id_next_btn" class="button" type="submit" value="{% trans 'Continue' %}">
    </p>
  </form>
{% endblock %}
