{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Pay now by debit card' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  {% notifications_box request 'send_money_landing' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <header>
        <h1 class="heading-xlarge">{% trans 'Pay now by debit card' %}</h1>
      </header>

      <p class="lede">
        {% trans 'Paying by debit card is the fastest, simplest and most reliable way of sending money to a prisoner – and it’s free' %}
      </p>

      <p>
        {% trans 'You can complete your payment here using Mastercard, Visa and Maestro debit cards.' %}
        {% trans 'Money usually takes less than 3 working days to reach a prisoner’s account, but may take longer.' %}
      </p>

      <p>
        {% trans 'You’ll get email confirmation of payment.' %}
      </p>

      <p>
        {% trans 'You can make an international payment using a debit card.' %}
      </p>

      {% include 'mtp_common/forms/error-summary.html' with form=form only %}

      {% if form.payment_method.field.disabled %}

        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading">
            {{ form.payment_method.field.message_to_users|default:_('Sending money by debit card is temporarily unavailable') }}
          </h1>
          <p>
            {% trans 'Please try again later.' %}
          </p>
        </div>

      {% else %}

        <form method="post">
          {% csrf_token %}
          {% with payment_method=form.payment_method.field.choices.0.0 %}
            <button name="{{ form.payment_method.html_name }}" value="{{ payment_method }}" id="id_{{ payment_method }}" class="button">
              {% trans 'Continue' %}
            </button>
          {% endwith %}
        </form>

      {% endif %}

      <br />

      <form method="post">
        {% csrf_token %}
        {% with payment_method=form.payment_method.field.choices.1.0 %}
          <button name="{{ form.payment_method.html_name }}" value="{{ payment_method }}" id="id_{{ payment_method }}" class="mtp-link-button link font-xsmall">
            {% trans 'I don’t have a debit card' %}
          </button>
        {% endwith %}
      </form>

    </div>
  </div>
{% endblock %}
