{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load prisons %}

{% block inner_content %}

  {% url 'send_money:help' as help_url %}
  <a class="link-back" href="{{ return_to|default:help_url }}">{% trans 'Back' %}</a>

  <header>
    {% language_switch %}
    <h1 class="heading-xlarge">
      {% trans 'Public prisons in England and Wales' %}
    </h1>
  </header>

  <p>{% trans 'The ‘Send money to a prisoner’ service is available in the following public prisons, young offender institutions and immigration removal centres in England and Wales.' %}</p>

  {% if prison_list %}
    <div class="mtp-filtered-list">
      <p>
        <input class="form-control form-control-1-3 mtp-filtered-list__input" type="search" value="" placeholder="{% trans 'Search' %}" />
      </p>
      <ul class="panel panel-border-narrow mtp-filtered-list__list" data-stop-words="{{ stop_words|join:' ' }}">
        <li class="mtp-filtered-list__empty">{% trans 'No prisons found' %}</li>
        {% for prison in prison_list %}
          <li>{{ prison|describe_abbreviation }}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p><strong>{% trans 'This service is currently unavailable' %}</strong></p>
  {% endif %}

{% endblock %}
