{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load prisons %}

{% block page_title %}{% trans 'Supported prisons in England and Wales' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <header>
        <h1 class="govuk-heading-xl">
          {% trans 'Supported prisons in England and Wales' %}
        </h1>
      </header>

      <p>
        {% trans 'The ‘Send money to someone in prison’ service is available in the following prisons, young offender institutions and immigration removal centres in England and Wales.' %}
      </p>

      {% if prison_list %}
        <div class="mtp-filtered-list">
          <p>
            <label for="id_prison" class="govuk-visually-hidden">{% trans 'Search for a prison' %}</label>
            <input id="id_prison" class="govuk-input govuk-input--width-10 mtp-filtered-list__input" type="search" value="" placeholder="{% trans 'Search' %}" />
          </p>
          <div class="govuk-inset-text">
            <ul class="mtp-filtered-list__list" data-stop-words="{{ stop_words|join:' ' }}">
              <li class="mtp-filtered-list__empty">{% trans 'No prisons found' %}</li>
              {% for prison in prison_list %}
                <li>{{ prison|describe_abbreviation }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <p><strong>{% trans 'This service is currently unavailable' %}</strong></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
