{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block inner_content %}
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{% trans 'Pay now by debit card' %}</span>
    {% trans 'Enter amount to send' %}
  </h1>

  <form method="post" action=".">
    {% csrf_token %}

    {% include 'mtp_common/forms/error-summary.html' with form=form only %}

    {{ form.prisoner_name }}
    {{ form.prisoner_dob }}
    {{ form.prisoner_number }}

    {% with field=form.amount %}
      <div class="mtp-amount">
        <fieldset>
          <legend class="form-label">{% trans 'Amount' %}</legend>

          <label id="{{ field.id_for_label }}-label" class="mtp-hidden" for="{{ field.id_for_label }}">{% trans "Please enter the amount in pounds" %}</label>
          <div class="form-group mtp-money-amount {% if field.errors %}error{% endif %}">
           {% include 'mtp_common/forms/field-errors.html' with field=field only %}
           <div class="money-box">
             <span class="form-control mtp-currency-sign" type="text">
               £
             </span><input id="{{ field.id_for_label }}"
                    class="form-control mtp-charges-amount"
                    maxlength="10"
                    name="{{ field.html_name }}"
                    value="{{ field.value|default:'' }}"
                    type="text"
                    autocomplete="off"
                    data-percentage-charge="{{ service_charge_percentage }}"
                    data-fixed-charge="{{ service_charge_fixed }}" />
           </div>
          </div>
        </fieldset>

        {% if service_charged %}
          <div class="form-group">
            <fieldset class="mtp-charges-js" style="display:none">
              <legend class="form-label">
                {% trans "Service charge:" %}
                <span class="mtp-charges-charges"></span>
              </legend>
              <p class="form-hint">
                {% blocktrans trimmed with charge_percentage=service_charge_percentage|format_percentage charge_fixed=service_charge_fixed|currency_format_pence %}
                  The service charge is {{ charge_percentage }} of the amount you’re sending, plus {{ charge_fixed }}. This fee is charged by your card provider.
                {% endblocktrans %}
              </p>
              <p class="form-label-bold mtp-charges-total">
                {% trans "Total to pay:" %}
                <span></span>
              </p>
            </fieldset>
            <div class="mtp-charges-no-js">
              <p>
                {% blocktrans trimmed with charge_percentage=service_charge_percentage|format_percentage charge_fixed=service_charge_fixed|currency_format_pence %}
                  The service charge is {{ charge_percentage }} of the amount you’re sending, plus {{ charge_fixed }}. This fee is charged by your card provider.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans trimmed with sample_amount=sample_amount|currency_format sample_amount_total_charge=sample_amount|add_service_charge|currency_format %}
                  For instance, if you want to send {{ sample_amount }}, you will be charged {{ sample_amount_total_charge }}.
                {% endblocktrans %}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    {% endwith %}

    <p>
      <input id="id_next_btn" class="button" type="submit" value="{% trans 'Check details' %}">
    </p>
  </form>
{% endblock %}
