{% extends 'mtp_common/mtp_base_public.html' %}
{% load i18n %}
{% load mtp_common %}


{% block main_js %}
  {{ block.super }}
  {% sentry_js %}
{% endblock %}

{% block after_main_js %}
  {{ block.super }}
  <!-- {{ request.resolver_match.url_name }} -->
{% endblock %}

{% block page_title %}{% trans 'Send money to a prisoner - GOV.UK' %}{% endblock %}

{% block proposition %}<a href="{% if ENVIRONMENT == 'prod' %}http://sendmoneytoaprisoner.service.justice.gov.uk/{% else %}/{% endif %}" class="proposition-name">{% trans 'Send money to a prisoner' %}</a>{% endblock %}


  {% block phase_banner %}
    <div class="subheader-item phase-banner">
      <div class="phase-tag phase-tag-alpha">{% trans "Alpha" %}</div>
          {% url 'submit_ticket' as ticket_url %}
      <div class="phase-banner-message"><p>{% blocktrans %}This is a new service. If you need any help please <a href="{{ ticket_url }}">contact us</a>. This is a trial service for family and friends of prisoners at HMP Brixton and HMP High Down only.{% endblocktrans %}</p></div>
    </div>
  {% endblock %}

