{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}
{% load mtp_common %}


{% block body_end %}
  <script src="{% url 'js-i18n' %}?{{ APP_GIT_COMMIT_SHORT }}"></script>
  {{ block.super }}
  {% sentry_js %}
  <!-- {{ request.resolver_match.url_name }} -->
{% endblock %}


{% block page_title %}{% trans 'Send money to someone in prison' %} – GOV.UK{% endblock %}
{% block proposition %}{% trans 'Send money to someone in prison' %}{% endblock %}


{% block phase_banner %}
  <div class="phase-banner">
    {% if ENVIRONMENT != 'prod' %}
      <strong class="phase-tag phase-tag-dev" title="{{ APP }}-{{ ENVIRONMENT }}:
        {{ APP_GIT_COMMIT_SHORT }}{% if APP_BUILD_DATE %}, built {{ APP_BUILD_DATE }}{% endif %}">
        {% trans 'Warning' %}
      </strong>
      {% blocktrans trimmed with name=ENVIRONMENT %}
        This “{{ name }}” website is for testing only.
      {% endblocktrans %}
    {% endif %}
    {% url 'submit_ticket' as ticket_url %}
    {% blocktrans trimmed %}
      <a href="{{ ticket_url }}">Contact us</a> if you need help or would like to give us some feedback.
    {% endblocktrans %}
  </div>
{% endblock %}


{% block footer_support_links %}
  <ul>
    <li><a href="{% url 'terms' %}">{% trans 'Terms and conditions' %}</a></li>
    <li><a href="{% url 'cookies' %}">{% trans 'Cookies' %}</a></li>
    <li><a href="{% url 'submit_ticket' %}">{% trans 'Feedback' %}</a></li>
    <li>
      {% trans 'Built by' %}
      <a href="https://mojdigital.blog.gov.uk/">
        <abbr title="{% trans 'Ministry of Justice' %}">MOJ</abbr> Digital
      </a>
    </li>
  </ul>
{% endblock %}
