{% extends 'mtp_common/mtp_base.html' %}
{% load i18n %}
{% load mtp_common %}


{% block main_js %}
  {{ block.super }}
  {% sentry_js %}
{% endblock %}

{% block body_end %}
  {{ block.super }}
  <!-- {{ request.resolver_match.url_name }} -->
{% endblock %}

{% block page_title %}{% trans 'Send money to a prisoner - GOV.UK' %}{% endblock %}

{% block proposition %}{% trans 'Send money to a prisoner' %}{% endblock %}


{% block phase_banner %}
  <div class="subheader-item phase-banner">
    {% url 'submit_ticket' as ticket_url %}
    {% if ENVIRONMENT == 'prod' %}
      <div class="phase-tag phase-tag-alpha">{% trans "Alpha" %}</div>
      <div class="phase-banner-message"><p>{% blocktrans %}This is a new service. If you need any help please <a href="{{ ticket_url }}">contact us</a>. This is a trial service for family and friends of prisoners at HMP Brixton, HMP Bullingdon, HMP Cardiff and HMP High Down only.{% endblocktrans %}</p></div>
    {% else %}
      <div class="phase-tag phase-tag-dev">{{ ENVIRONMENT }}</div>
      <div class="phase-banner-message"><p>{% blocktrans %}This is a new service. If you need any help please <a href="{{ ticket_url }}">contact us</a>.{% endblocktrans %}</p></div>
    {% endif %}
  </div>
{% endblock %}

{% block footer_support_links %}
<ul>
  <li><a href="/terms/">Terms and conditions</a></li>
  <li><a href="/cookies/">Cookies</a></li>
  <li><a href="/feedback/">Feedback</a></li>
  <li>
    Built by
    <a href="https://mojdigital.blog.gov.uk/">
      <abbr title="Ministry of Justice">MOJ</abbr> Digital
    </a>
  </li>
</ul>
{% endblock %}
