{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Cookies' %}</h1>

  <p>{% trans 'GOV.UK puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.' %}</p>
  <p>{% trans 'Cookies are used to:' %}</p>
  <ul>
    <li>{% trans 'measure how you use the website so it can be updated and improved based on your needs' %}</li>
    <li>{% trans 'remember the notifications you’ve seen so that we don’t show them to you again' %}</li>
  </ul>

  <div class="panel-indent">
    <p>{% trans 'GOV.UK cookies aren’t used to identify you personally.' %}</p>
  </div>

  <p>{% trans 'You’ll normally see a message on the site before we store a cookie on your computer.' %}</p>
  <p>
    {% trans 'Find out more about <a href="http://www.aboutcookies.org/" rel="external">how to manage cookies</a>.' %}
  </p>

  <h2>{% trans 'How cookies are used on GOV.UK' %}</h2>
  <h3>{% trans 'Measuring website usage (Google Analytics)' %}</h3>
  <p>{% trans 'We use Google Analytics software to collect information about how you use GOV.UK. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.' %}</p>
  <p>{% trans 'Google Analytics stores information about:' %}</p>
  <ul>
    <li>{% trans 'the pages you visit on GOV.UK - how long you spend on each GOV.UK page' %}</li>
    <li>{% trans 'how you got to the site' %}</li>
    <li>{% trans 'what you click on while you’re visiting the site.' %}</li>
  </ul>

  <div class="panel-indent">
    <p>
      {% url 'terms' as terms_url %}
      {% blocktrans trimmed %}
        We don’t collect or store your personal information so this information can’t be used to identify who you are. For more information visit our <a href="{{ terms_url }}">Terms and conditions and privacy policy</a> page.
      {% endblocktrans %}
    </p>
  </div>

  <p>{% trans 'We don’t allow Google to use or share our analytics data.' %}</p>
  <p>{% trans 'Google Analytics sets the following cookies:' %}</p>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Purpose' %}</th>
        <th>{% trans 'Expires' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_ga {% trans 'and' %} _gat</td>
        <td>{% trans 'This is a google analytics cookie that helps us understand how the service is being used in detail. Your data is anonymised.' %}</td>
        <td>{% trans '2 years' %}</td>
      </tr>
    </tbody>
  </table>

  <p>
    {% trans 'You can <a href="https://tools.google.com/dlpage/gaoptout" rel="external">opt out of Google Analytics cookies</a>.' %}
  </p>

  <h3>{% trans 'Our introductory message' %}</h3>
  <p>{% trans 'You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.' %}</p>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Purpose' %}</th>
        <th>{% trans 'Expires' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>seen_cookie_message</td>
        <td>{% trans 'Saves a message to let us know that you have seen our cookie message' %}</td>
        <td>{% trans '1 month' %}</td>
      </tr>
    </tbody>
  </table>

  <h3>{% trans 'Your progress when using the service' %}</h3>
  <p>{% trans 'When you use the “Send money to a prisoner” service, we’ll set a cookie to remember your progress through the forms. These cookies don’t store your personal data and are deleted once you’ve completed the transaction.' %}</p>
  <table>
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Purpose' %}</th>
        <th>{% trans 'Expires' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sessionid</td>
        <td>{% trans 'An identifier for your session' %}</td>
        <td>{% trans 'At the end of the session' %}</td>
      </tr>
    </tbody>
  </table>

  <p>
    {% trans 'You can read more about <a href="https://www.gov.uk/help/cookies" rel="external">how cookies are used on gov.uk</a>.' %}
  </p>
{% endblock %}
