{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Terms and conditions' %} – {{ block.super }}{% endblock %}

{% block content %}

<header>
  <h1 class="govuk-heading-xl">{% trans 'Terms and conditions' %}</h1>
</header>

<p>
  {% trans 'By using the ‘Send money to someone in prison’ service you agree to our privacy policy and to these terms and conditions.' %}
  {% trans 'Please read them carefully.' %}
</p>

<h2 class="govuk-heading-s">{% trans 'Purpose of these terms and conditions' %}</h2>

<p>
  {% trans 'These terms and conditions affect your rights and liabilities under the law.' %}
  {% trans 'They govern your use of, and relationship with, the ‘Send money to someone in prison’ service.' %}
  {% trans 'They don’t apply to other services provided by the Ministry of Justice or to any other department or service which is linked to this service.' %}
</p>
<p>
  {% trans 'We may occasionally update these terms and conditions.' %}
  {% trans 'This might happen if there’s a change in the law or to the way this service works.' %}
  {% trans 'We recommend you check this page regularly for any updates.' %}
</p>
<p>
  {% trans 'If you don’t agree to the terms and conditions set out in this document, you should not send money to prisoners using this service.' %}
</p>

<h2 class="govuk-heading-s">{% trans 'Making payments' %}</h2>

<div class="mtp-card-acceptance-signage" aria-hidden="true" role="presentation">
  <div class="mtp-card-acceptance-signage--large">
    {% card_acceptance_signage width=160 %}
  </div>
  <div class="mtp-card-acceptance-signage--small">
    {% card_acceptance_signage width=95 %}
  </div>
</div>

<p>
  {% trans 'You can only use debit cards on this service' %} – {% trans 'Visa, Mastercard and Maestro' %}.
  {% trans 'You cannot use credit cards or prepaid cards.' %}
</p>
<p>
  {% trans 'When using this service your payment will be checked by HM Prison and Probation Service (HMPPS) to ensure that it is from a legitimate source and for a legitimate purpose.' %}
  {% trans 'If HMPPS believes the money is suspicious, your payment will be rejected, and the money will be returned to your account.' %}
</p>
<p>
  {% trans 'Your payment may take up to 5 days to be processed while the compliance check is carried out.' %}
</p>
<p>
  {% trans 'If your payment is rejected by our compliance check, this may lead to further investigation and possible referral to the police if it is thought that an offence has been committed.' %}
</p>
<p>
  {% trans 'Information recorded on this system may be used in the investigation of money laundering or other offences by HMPPS or its partners.' %}
</p>

<h2 class="govuk-heading-s">{% trans 'Applicable law' %}</h2>

<p>
  {% trans 'Your use of this service and any dispute arising from its use will be governed by and construed in accordance with the laws of England and Wales, including but not limited to the:' %}
</p>
<ul class="list list-bullet">
  <li>Computer Misuse Act 1990</li>
  <li>Data Protection Act 2018</li>
  <li>Mental Capacity Act 2005</li>
  <li>Proceeds of Crime Act 2002</li>
  <li>Terrorism Act 2000</li>
</ul>

<h2 class="govuk-heading-s">{% trans 'Using this service responsibly' %}</h2>

<p>
  {% trans 'There are risks in using a shared computer, for example in an internet café, to use this service.' %}
  {% trans 'It’s your responsibility to be aware of these risks and to avoid using any computer which may leave your personal information accessible to others.' %}
  {% trans 'Do not leave a public computer unattended and ensure your personal data is wiped from the system when you log out.' %}
  {% trans 'You are responsible if you choose to leave a computer unprotected while in the process of sending money to a prisoner.' %}
</p>
<p>
  {% trans 'We make every effort to check and test this service whenever we amend or update it.' %}
  {% trans 'However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.' %}
</p>
<p>
  {% trans 'You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful.' %}
  {% trans 'You must not attempt to gain unauthorised access to our service, the system on which our service is stored or any server, computer or database connected to our service.' %}
  {% trans 'You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.' %}
</p>

<h2 class="govuk-heading-s">{% trans 'Feedback and complaints' %}</h2>

<p>
  {% url 'help_area:help' as link %}
  {% blocktrans trimmed %}
    If you wish to give feedback or complain about the service, please <a href="{{ link }}">contact us</a>.
  {% endblocktrans %}
</p>

<h2 class="govuk-heading-s">{% trans 'Disclaimer' %}</h2>

<p>
  {% trans 'We don’t accept liability for loss or damage incurred by users of this service, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise.' %}
  {% trans 'This includes loss of income or revenue, business, profits or contracts, anticipated savings, data, goodwill, tangible property or wasted time in connection with this service or any websites linked to it and any materials posted on it.' %}
  {% trans 'This condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.' %}
</p>
<p>
  {% trans 'This does not affect our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.' %}
</p>

{% endblock %}
