// View-specific styles

.mtp-account {
  font-weight: bold;
  margin-top: 10px;
}

.mtp-steps {
  margin-bottom: 3em;

  p {
    margin-top: 20px;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 1.3em;
  }

  li {
    font-size: 1.1em;
  }
}

#mtp-email-reference-form {
  display: none;

  &.mtp-email-reference-form--errors {
    display: block;
  }
}
