// View-specific styles

.mtp-bank-transfer-warning {
  padding-bottom: 15px;
  padding-top: 10px;
  width: 60%;

  @include media($max-width: 769px) {
    width: auto;
  }
}

.mtp-bank-transfer-instructions {
  width: 55%;

  @include media(mobile) {
    width: 100%;
  }
}

.mtp-account {
  margin: 1em 0 1.5em;
  padding-bottom: 0;
  padding-top: 0;

  th, td {
    border: 0;
    font-weight: normal;
    padding: 0.5em;
  }

  td {
    font-weight: bold;
  }
}
