// View-specific styles

.mtp-check-details {
  border-top: 2px solid $border-colour;
  padding: 1em 0 1.5em;

  .heading-medium {
    margin: 0 0 0.2em;
  }

  @include media(mobile) {
    .column-one-third {
      padding-top: 1em;
    }
  }
}

.mtp-check-details__confirm {
  margin-top: 2em;

  input.link {
    @include core-19;
    border: none;
    background: none;
    margin: .526315em 0 .263157em;
    padding-left: 0;
    padding-right: 0;
  }
}
