// View-specific styles

.mtp-help-page {
  margin: 0;

  .mtp-help__contents {

    @media (min-width: 641px) {
      width: 22%;
      position: absolute;

      strong {
        font-size: 16px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 641px) {
    .mtp-help-contents--fixed {
      position: fixed;
      top: 0;
    }
  }

  .mtp-help__contents-list {
    padding-left: 0;

    li {
      font-size: 16px;
    }

    li:before {
      content: "–";
      float: left;
      display: block;
      width: 15px;

      @media (min-width: 641px) {
        margin-left: -15px;
      }
    }

    a {
      text-decoration: none;
    }

    .mtp-help__contents-list--active {
      font-weight: bold;
    }
  }

  .column-two-thirds {
    margin: 0;
    float: none;

    :first-child {
      margin-top: 0;
    }

    @media (min-width: 641px) {
      margin: 0 35%;
    }
  }
}
