.mtp-help-nav {
  @extend %contain-floats;

  .mtp-language-switch {
    margin: 15px 0;
    padding-top: 0;
  }
}

.mtp-help-nav__item {
  display: inline-block;
  width: 50%;
  float: left;
}

// contact us page

.mtp-contact-columns {
  #send-feedback {
    margin-right: 5em;
  }

  #id_ticket_content-label, #id_contact_email-label {
    @extend .heading-medium;
    margin-bottom: 0 !important;
  }

  #id_ticket_content-label {
    margin-top: 0;
  }

  #id_ticket_content {
    width: 100%;
    resize: vertical;
  }

  aside {
    h2 {
      display: none;
    }

    p {
      margin-top: 0;
    }

    li {
      margin-bottom: 0.4em;
    }
  }

  @include media($min-width: $tablet-breakpoint,  $max-width: $desktop-breakpoint, $ignore-for-ie: true) {
    #send-feedback {
      margin-right: 1em;
    }
  }

  @include media(mobile, $ignore-for-ie: true) {
    #send-feedback {
      margin-right: 0;
    }

    aside {
      margin-top: 2em;

      h2 {
        display: block;
      }

      p {
        display: none;
      }
    }
  }
}
