// View-specific styles

.mtp-grey-choice {
  background: #e8e9eb;
  border-color: #e8e9eb;
  color: #696969;
  cursor: default;

  &:hover {
    border-color: #e8e9eb;
  }
}

.mtp-grey-text {
  color: #696969;;

  &.mtp-debit-header {
    padding-bottom: 0;
  }
}

.mtp-debit-unavailable {
  color: #b10e1e;
  margin-top: 0;
  padding-top: 0;
}
