// View-specific styles

.mtp-grey-choice {
  background: #e8e9eb;
  border-color: #e8e9eb;
  color: #696969;
  cursor: default;

  &:hover {
    border-color: #e8e9eb;
  }
}

.mtp-grey-text {
  color: #696969;

  &.mtp-debit-header {
    padding-bottom: 0;
  }
}

.mtp-debit-unavailable {
  color: $error-colour;
  margin-top: 0;
  padding-top: 0;
}

// govuk elements overrides

.mtp-payment-choice {

  .form-block {
    padding-left: 0.4em;
  }
}

.mtp-payment-help {
  padding-left: 0.4em;

  .help-box-contents {
    ol {
      margin-bottom: 5px;
    }

    .mtp-help-link {
      margin-left: .8em;
    }
  }
}
