// Application-specific

.mtp-reference-actions {
  display: none;

  .js-enabled & {
    display: block;
  }
}

.mtp-print-icon {
  background: file-url('icon-file-download.png') no-repeat scroll 0 0;
  display: inline-block;
  line-height: 40px;
  min-height: 2.5em;
  padding-left: 2.5em;

  @include device-pixel-ratio {
    background-image: file-url('icon-file-download-2x.png');
    background-size: 30px 39px;
  }
}
