{% extends 'mtp_common/feedback/submit_feedback.html' %}
{% load i18n %}
{% load mtp_common %}

{% block get_help_heading %}
  <header>
    <h1 class="heading-xlarge">
      <span class="heading-secondary">
        {% trans 'Help with' %}
      </span>
      {% trans 'Making a payment' %}
    </h1>
  </header>
{% endblock %}

{% block get_help_leading %}{% endblock %}

{% block get_help_form %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        {% trans 'Give exact details so we can get back to you as soon as possible.' %}
      </p>

      <form action="." method="post" id="mtp-feedback-form">
        {% include 'mtp_common/forms/error-summary.html' with form=form only %}

        <fieldset>
          <legend class="visually-hidden">{% trans 'Your message' %}</legend>

          <div class="hidden">
            {% include 'mtp_common/forms/field.html' with field=form.subject only %}
          </div>

          {% block extra_ticket_fields %}
            {% include 'send_money/includes/prisoner-details-number.html' with field=form.prisoner_number only %}
            {% include 'send_money/includes/prisoner-details-dob.html' with field=form.prisoner_dob only %}

            {% include 'mtp_common/forms/field.html' with field=form.contact_name only %}
            {% include 'mtp_common/forms/field.html' with field=form.contact_email value=request.GET.email|default:'' only %}

            <fieldset class="inline">
              <legend>
                {{ form.payment_method.label }}
              </legend>
              {% include 'mtp_common/forms/radio-field.html' with field=form.payment_method only %}
            </fieldset>
          {% endblock %}

          {% with field=form.ticket_content value=request.GET.message|default:'' %}
            <div class="form-group {% if field.errors %}form-group-error{% endif %}">
              {% include 'mtp_common/forms/field-label.html' with field=field only %}
              {% include 'mtp_common/forms/field-errors.html' with field=field only %}
              <textarea class="form-control {% if field.errors %}form-control-error{% endif %}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" cols="40" rows="6">{{ field.value|default:value }}</textarea>
            </div>
          {% endwith %}

          <div class="form-group">
            {% csrf_token %}
            {{ form.referer }}
            <button type="submit" class="button" name="submit-feedback">{% trans 'Send' %}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

{% endblock %}
