{% extends 'help_area/contact-new-payment.html' %}
{% load i18n %}
{% load mtp_common %}

{% block get_help_heading %}
  <header>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        {% trans 'Help with' %}
      </span>
      {% trans 'A payment I’ve already made' %}
    </h1>
  </header>
{% endblock %}

{% block get_help_leading %}{% endblock %}

{% block contact_us_lede %}
  <p class="govuk-body-l">
    {% trans 'Contact us about a payment that has already been made.' %}
    {% trans 'Give exact details so we can get back to you as soon as possible.' %}
  </p>
{% endblock %}

{% block extra_ticket_fields %}
  {{ block.super }}

  {% include 'mtp_common/forms/amount-field.html' with field=form.amount only %}
  {% include 'mtp_common/forms/date-field.html' with field=form.payment_date year_field_completion=True only %}
{% endblock %}
