{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Help with making a payment' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <header>
        <h1 class="heading-xlarge">
          <span class="heading-secondary">
            {% trans 'Help with' %}
          </span>
          {% trans 'Making a payment' %}
        </h1>
      </header>

      <p class="lede">
        {% trans 'Check if the answer is here before you contact us' %}
      </p>

      <dl class="mtp-question-list">

        <dt class="mtp-question">
          <a href="#answer-1" id="question-1">
            {% trans 'I want to know the prisoner number or date of birth' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-1" class="mtp-answer" aria-labelledby="question-1">
          <p>
            {% trans 'By law we can’t give out confidential prisoner information.' %}
            {% trans 'Ask the prisoner for these details.' %}
          </p>
        </dd>

        <dt class="mtp-question">
          <a href="#answer-2" id="question-2">
            {% trans 'I want to make a payment from abroad' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-2" class="mtp-answer" aria-labelledby="question-2">
          <p>
            {% trans 'You can only make a payment from outside the UK using a debit card (Visa, Mastercard or Maestro).' %}
            {% trans 'We don’t accept credit cards or prepaid debit cards.' %}
          </p>
        </dd>

        <dt class="mtp-question">
          <a href="#answer-3" id="question-3">
            {% trans 'I want to send money to a prison in Scotland or Northern Ireland' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-3" class="mtp-answer" aria-labelledby="question-3">
          <p>
            {% url 'help_area:prison_list' as link %}
            {% blocktrans trimmed %}
              Our service is only available in <a href="{{ link }}">prisons in England and Wales</a>.
            {% endblocktrans %}
            {% blocktrans trimmed with scottish_link='https://www.sps.gov.uk/Corporate/Prisons/Prisons.aspx' northern_irish_link='https://www.justice-ni.gov.uk/topics/prisons/prison-estate' %}
              Contact the <a href="{{ scottish_link }}">Scottish</a> or <a href="{{ northern_irish_link }}">Northern Irish</a> prison directly to find out how to send money to them.
            {% endblocktrans %}
          </p>
        </dd>

      </dl>

      <p>
        {% trans 'If you haven’t found the answer:' %}
      </p>
      <p>
        <a href="{% url 'help_area:contact-us-new-payment' %}" class="button">
          {% trans 'Contact us' %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
