{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Help with making a payment' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">
            {% trans 'Help with' %}
          </span>
          {% trans 'Making a payment' %}
        </h1>
      </header>

      <p class="lede">
        {% trans 'Check if the answer is here before you contact us' %}
      </p>

      <dl class="mtp-question-list">
        {% create_counter 'question' %}

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'It says my prisoner number and date of birth don’t match a prisoner' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'If the person has just arrived in prison, try again tomorrow as it can take one working day for prisoner details to be updated on the system.' %}
          </p>
          <p>
            {% trans 'But it could be that the prisoner details you’re using don’t match the ones on the prison system.' %}
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              {% trans 'Check you’re using the right prisoner number and date of birth' %}
            </li>
            <li>
              {% trans 'If these are right, the person in prison should check with wing staff that the prison has the same details and get them corrected if not' %}
            </li>
            <li>
              {% trans 'If you still have a problem, write a letter to the prison asking for the details to be corrected' %}
            </li>
          </ul>
          {% trans 'You won’t be able to send money using our service until your details match what the prison has.' %}
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'I want to know the prisoner number or date of birth' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'By law we can’t give out confidential prisoner information.' %}
            {% trans 'Ask the prisoner for these details.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'I want to make a payment from abroad' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'You can only make a payment from outside the UK using a debit card (Visa, Mastercard or Maestro).' %}
            {% trans 'We don’t accept credit cards or prepaid debit cards.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'I want to send money to a prison in Scotland or Northern Ireland' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% url 'help_area:prison_list' as link %}

            {% blocktrans trimmed %}
              Our service is only available in <a href="{{ link }}">prisons in England and Wales</a>.
            {% endblocktrans %}
            {% blocktrans trimmed with scottish_link='https://www.sps.gov.uk/Corporate/Prisons/Prisons.aspx' northern_irish_link='https://www.justice-ni.gov.uk/topics/prisons/prison-estate' %}
              Contact the <a href="{{ scottish_link }}">Scottish</a> or <a href="{{ northern_irish_link }}">Northern Irish</a> prison directly to find out how to send money to them.
            {% endblocktrans %}
          </p>
        </dd>

      </dl>

      <p>
        {% trans 'If you haven’t found the answer:' %}
      </p>
      <p>
        <a href="{% url 'help_area:contact-us-new-payment' %}" class="button">
          {% trans 'Contact us' %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
