{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}
{% load send_money %}

{% block page_title %}{% trans 'Help with a payment I’ve already made' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <header>
        <h1 class="heading-xlarge">
          <span class="heading-secondary">
            {% trans 'Help with' %}
          </span>
          {% trans 'A payment I’ve already made' %}
        </h1>
      </header>

      <p class="lede">
        {% trans 'Check if the answer is here before you contact us' %}
      </p>

      <dl class="mtp-question-list">
        {% create_counter 'question' %}

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'I want to cancel a payment' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'We can’t cancel your payment because once it’s gone through the system, it’s non-refundable.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'The prisoner has moved prisons' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'Your payment will be transferred to the new prison but it may take a few days.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'The prisoner has been released' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'The prisoner needs to contact the prison and they’ll be sent a refund.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'Does the prisoner know they’ve got my money?' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'They might get an account slip from the wing officer when your money reaches their account, but this can take a few days and not all prisons use these slips.' %}
          </p>
          <p>
            {% trans 'Ask the prisoner to check with their wing officer to see if your money has reached their account.' %}
            {% trans 'Remember, a payment can take up to 5 days.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'Does a prisoner know who sent the money?' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'A prisoner will see the name of who sent the money on their account slip, but not all prisons give these out.' %}
            {% trans 'They could also ask a wing officer for the sender’s name, but the prisoner has no access to a sender’s personal or banking details.' %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'I’m worried about a prisoner' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'Contact the prison and they will put you through to an orderly officer or to the Safer Custody team where you can leave a message.' %}
            {% blocktrans trimmed with link='https://www.gov.uk/find-prisoner' %}
              You can <a href="{{ link }}">find a prisoner</a> if unsure what prison they’re in.
            {% endblocktrans %}
          </p>
        </dd>

        {% increment_counter 'question' as question_id %}
        <dt class="mtp-question">
          <a href="#answer-{{ question_id }}" id="question-{{ question_id }}">
            {% trans 'You don’t ask which prison it is' %}
            <span class="mtp-question-icon"></span>
          </a>
        </dt>
        <dd id="answer-{{ question_id }}" class="mtp-answer" aria-labelledby="question-{{ question_id }}">
          <p>
            {% trans 'You don’t need the name of the prison to use this service.' %}
          </p>
        </dd>

      </dl>

      <p>
        {% trans 'If you haven’t found the answer:' %}
      </p>
      <p>
        <a href="{% url 'help_area:contact-us-sent-payment' %}" class="button">
          {% trans 'Contact us' %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
