{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Help with a payment I’ve already made' %} – {{ block.super }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">
            {% trans 'Help with' %}
          </span>
          {% trans 'A payment I’ve already made' %}
        </h1>
      </header>

      <p class="govuk-body-l">
        {% trans 'Check if the answer is here before you contact us' %}
      </p>

      {% accordion name='help-sent-payment' %}

        {% accordionsection heading=_('I want to cancel a payment') %}
          <p>
            {% trans 'We can’t cancel your payment because once it’s gone through the system, it’s non-refundable.' %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('The prisoner has moved prisons') %}
          <p>
            {% trans 'Your payment will be transferred to the new prison but it may take a few days.' %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('The prisoner has been released') %}
          <p>
            {% trans 'The prisoner needs to contact the prison and they’ll be sent a refund.' %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('Does the prisoner know they’ve got my money?') %}
          <p>
            {% trans 'They might get an account slip from the wing officer when your money reaches their account, but this can take a few days and not all prisons use these slips.' %}
          </p>
          <p>
            {% trans 'Ask the prisoner to check with their wing officer to see if your money has reached their account.' %}
            {% trans 'Remember, a payment can take up to 5 days.' %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('Does a prisoner know who sent the money?') %}
          <p>
            {% trans 'A prisoner will see the name of who sent the money on their account slip, but not all prisons give these out.' %}
            {% trans 'They could also ask a wing officer for the sender’s name, but the prisoner has no access to a sender’s personal or banking details.' %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('I’m worried about a prisoner') %}
          <p>
            {% trans 'Contact the prison and they will put you through to an orderly officer or to the Safer Custody team where you can leave a message.' %}
            {% blocktrans trimmed with link='https://www.gov.uk/find-prisoner' %}
              You can <a href="{{ link }}">find a prisoner</a> if unsure what prison they’re in.
            {% endblocktrans %}
          </p>
        {% endaccordionsection %}

        {% accordionsection heading=_('You don’t ask which prison it is') %}
          <p>
            {% trans 'You don’t need the name of the prison to use this service.' %}
          </p>
        {% endaccordionsection %}

      {% endaccordion %}

      <p>
        {% trans 'If you haven’t found the answer:' %}
      </p>
      <p>
        <a href="{% url 'help_area:contact-us-sent-payment' %}" class="govuk-button" data-module="govuk-button">
          {% trans 'Contact us' %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
