{% extends 'base.html' %}
{% load i18n %}
{% load mtp_common %}

{% block page_title %}{% trans 'Payment issues' %} – {{ block.super }}{% endblock %}

{% block inner_content %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <header>
        <h1 class="heading-xlarge">
          <span class="heading-secondary">
            {% trans 'Help' %}
          </span>
          {% trans 'Payment issues' %}
        </h1>
      </header>

      <p>
        {% trans 'If you’ve already sent money but are experiencing problems, we can help.' %}
      </p>
      <p>
        {% trans 'Find out:' %}
      </p>
      <ul class="list list-bullet">
        <li>
          {% url 'help_area:help_bank_transfer' as help_page_url %}
          {% blocktrans trimmed %}
            why a <a href="{{ help_page_url }}">bank transfer didn’t reach the prisoner</a> or was returned
          {% endblocktrans %}
        </li>
        <li>
          {% url 'help_area:help_delays' as help_page_url %}
          {% blocktrans trimmed %}
            why a <a href="{{ help_page_url }}">payment has taken longer</a>
          {% endblocktrans %}
        </li>
        <li>
          {% url 'help_area:help_transfered' as help_page_url %}
          {% blocktrans trimmed %}
            what happens to money sent when a <a href="{{ help_page_url }}">prisoner has been moved or released</a>
          {% endblocktrans %}
        </li>
      </ul>
      <p>
        {% url 'help_area:submit_ticket' as feedback_url %}
        {% blocktrans trimmed %}
          If none of the above help to solve your problem, please <a href="{{ feedback_url }}">contact us</a>.
        {% endblocktrans %}
      </p>

    </div>
  </div>

{% endblock %}
