{% load i18n %}

<div class="error-summary">
  <p>
    {% trans 'You can no longer send money by bank transfer.' %}
    {% trans 'The best way to send money to someone in prison is by debit card.' %}
    {% url 'help_area:help-cannot-access' as link %}
    {% blocktrans trimmed %}
      If it means you will no longer be able to use this service, there are <a href="{{ link }}">alternatives</a>.
    {% endblocktrans %}
  </p>
  <p>
    {% trans 'Bank transfers submitted before November 2 will still work.' %}
  </p>
</div>
