.mtp-card-acceptance-signage {
  overflow: hidden;
  margin-bottom: $govuk-gutter;

  @include govuk-media-query($until: tablet) {
    margin-bottom: $govuk-gutter-half;
  }

  .mtp-card-acceptance-signage--large {
    display: block;

    @include govuk-media-query($until: tablet) {
      display: none;
    }
  }

  .mtp-card-acceptance-signage--small {
    display: none;

    @include govuk-media-query($until: tablet) {
      display: block;
    }
  }

  .mtp-card-acceptance-signage__logo {
    float: left;
    margin-right: $govuk-gutter-half;

    @include govuk-media-query($until: tablet) {
      margin-right: 0;
    }
  }
}
